<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-10 mx-32">
  <a [routerLink]="['/admin/agent']">
    <mat-card class="bg-green-700">
      <div class="text-yellow-400 flex justify-center items-center">
        <fa-icon [icon]="iconAgent" size="4x" class=""></fa-icon>
        <span class="text-4xl m-4"> Agentes </span>
      </div>
    </mat-card>
  </a>
  <a [routerLink]="['/admin/enterprise']">
    <mat-card class="bg-green-700">
      <div class="text-yellow-400 flex justify-center items-center">
        <fa-icon [icon]="iconEnterprise" size="4x" class=""></fa-icon>
        <span class="text-4xl m-4"> Empresas </span>
      </div>
    </mat-card>
  </a>
  <a [routerLink]="['/admin/request']">
    <mat-card class="bg-green-700">
      <div class="text-yellow-400 flex justify-center items-center">
        <fa-icon [icon]="iconRequest" size="4x" class=""></fa-icon>
        <span class="text-4xl m-4"> Solicitudes </span>
      </div>
    </mat-card>
  </a>
  <a [routerLink]="['/admin/tutorial']">
    <mat-card class="bg-green-700">
      <div class="text-yellow-400 flex justify-center items-center">
        <fa-icon [icon]="iconTutorial" size="4x" class=""></fa-icon>
        <span class="text-4xl m-4"> Tutoriales</span>
      </div>
    </mat-card>
  </a>
  <mat-card class="bg-green-700">
    <div class="text-yellow-400 flex justify-center items-center">
      <fa-icon [icon]="iconReport" size="4x" class=""></fa-icon>
      <span class="text-4xl m-4"> Reportes </span>
    </div>
  </mat-card>
</div>
