<div class="flex justify-end h-screen">
  <div class="flex flex-grow justify-center">
    <div class="flex flex-col items-center">
      <div class="w-full">
        <fa-icon
          [icon]="faBook"
          size="7x"
          class="text-green-800 mb-10 mt-20 flex justify-center"
        ></fa-icon>
      </div>
      <mat-card-header class="d-flex justify-content-center">
        <mat-card-title class="text-green-800"
          >Modulo de Soporte de Contatech</mat-card-title
        >
      </mat-card-header>
      <div class="my-4">
        <span class="mx-4 text-gray-500">Administrador</span>
        <mat-slide-toggle
          [(ngModel)]="admin"
          color="primary"
          (change)="toggle()"
        ></mat-slide-toggle>
      </div>
      <form class="w-full" [formGroup]="form" (ngSubmit)="login()">
        <mat-card-content class="w-full">
          <div class="w-full">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Nit</mat-label>
              <input
                matInput
                autocomplete="off"
                [pattern]="pattern"
                (keyup)="onUsernameChange($event)"
                placeholder="Nit"
                maxlength="11"
                formControlName="nit"
                type="text"
              />
              <mat-hint>ejemplo: 123456789-1</mat-hint>
            </mat-form-field>
          </div>
          <div class="w-full">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input
                placeholder="Contraseña"
                formControlName="clave"
                maxlength="8"
                minlength="6"
                matInput
                type="password"
              />
              <mat-hint>contraseña: ******</mat-hint>
            </mat-form-field>
          </div>
        </mat-card-content>

        <mat-card-actions class="w-full">
          <div class="mt-4">
            <button
              class="w-full text-green-800 bg-yellow-300"
              mat-button
              mat-raised-button
              [disabled]="!form.valid"
              type="submit"
            >
              Ingresar
            </button>
          </div></mat-card-actions
        >
      </form>
      <mat-card-actions class="w-full">
        <span class="text-red-600 flex justify-center"
          >¿Olvidaste tu contraseña?</span
        >
        <div class="my-4">
          <button
            class="w-full bg-green-800 text-yellow-300"
            mat-button
            mat-raised-button
            (click)="openDialogBuyLicense()"
          >
            Comprar Licencia
          </button>
        </div>
      </mat-card-actions>
    </div>
  </div>
  <img
    class=""
    src="../../../../assets/images/pexels-tima-miroshnichenko-6694542.jpg"
  />
</div>
