<div class="flex justify-center">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.idEmpresa }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
    </ng-container>

    <!-- Nit Column -->
    <ng-container matColumnDef="nit">
      <th mat-header-cell *matHeaderCellDef>Nit</th>
      <td mat-cell *matCellDef="let element">{{ element.nit }}</td>
    </ng-container>

    <!-- Celular Column -->
    <ng-container matColumnDef="celular">
      <th mat-header-cell *matHeaderCellDef>Celular</th>
      <td mat-cell *matCellDef="let element">{{ element.celular }}</td>
    </ng-container>

    <!-- Correo Column -->
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef>Correo</th>
      <td mat-cell *matCellDef="let element">{{ element.correo }}</td>
    </ng-container>

    <!-- Licencia Column -->
    <ng-container matColumnDef="licencia">
      <th mat-header-cell *matHeaderCellDef>Licencia</th>
      <td mat-cell *matCellDef="let element">{{ element.licencia }}</td>
    </ng-container>

    <!-- Fecha Vencimiento Column -->
    <ng-container matColumnDef="fechaVencimiento">
      <th mat-header-cell *matHeaderCellDef>Fecha Vencimiento</th>
      <td mat-cell *matCellDef="let element">{{ element.fechaVencimiento }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>
